## Equality

Para ver si dos valores o variables son iguales podemos hacer uso del operador **==**. Para chequear si dos variables o valores no son iguales podemos hacer uso del operador **!=**

In [1]:
#Comparamos dos variables booleanas
print(True == False)

False

In [2]:
#Comparación de enteros
print(5 == 5)

True

In [3]:
#Comparación de strings
print('Python' == 'python')

False

In [4]:
#Comparación de variable booleana con entero
print(False == 0)

True

## Greater and less than

Podemos hacer uso de los operadores **>** y **<*** para realizar comparaciones, estos operadores se pueden combinar con el operador **=** para crearnos los operadores **>=** y **<=**. Debemos tener encuenta que cuando python compara cadenas de carácteres lo hace por orden alfabético.

In [8]:
#Comparación de enteros
x = -10
print(x > 10)

False

In [9]:
#Comparación de strings
print('Hola' > 'Adios')

True

In [10]:
#Comparación de booleanos
print(True > False)

True

## Compare arrays

Podemos realizar los operadores para comparar numpys arrays. Esta comparación lo que hará es comparar valor a valor cada uno de los elementos de nuestro array con el valor indicado

In [12]:
#Importamos Numpy
import numpy as np
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])
#Vemos que areas del array my_house es mayor a 18
print(my_house > 18)

[False  True False False]

In [13]:
#Comparamos ambas arrays
print(my_house > your_house)

[ True False False  True]

## and, or, not (I)

Al igual que en el resto de lenguajes de programación podemos hacer uso de los operadores and, or y not para realizar comparaciones.

In [2]:
#Definimos dos variables 
my_kitchen = 18
your_kitchen = 14

#Hacemos uso del operador and
print(my_kitchen > 14 and my_kitchen < 30)

True

In [3]:
#Hacemos uso del operador or
print(my_kitchen > 14 or your_kitchen < 12)

True

## and, or, not (II)

La función **not** nos permite negar, es decir, algo que True lo convierte en False y viceversa.

In [4]:
x = 8
y = 9
not(not(x < 3) and not(y > 14 or y > 10))

False

## Boolean operators with Numpy

Aunque ya vimos que los operadores **<**, **>** o **=** funcionan de igual forma para variables, listas o numpys arrays, para el caso de los operadores lógicos esto no sucede. A la hora de trabajar con operadores lógicos con numpy arrays debemos de hacer uso de las funciones
* **np.logical_and**
* **np.logical_or**
* **np.logical_not**

In [5]:
#Importamos la librería numpy
import numpy as np

#Nos creamos dos numpy arrays
my_house = np.array([18.0, 20.0, 10.75, 9.50])
your_house = np.array([14.0, 24.0, 14.25, 9.0])

#Aplicamos la función lógica or
print(np.logical_or(my_house > 18, my_house < 10))

[False  True False  True]

In [6]:
#Aplicamos la función lógica and
print(np.logical_and(my_house < 11, your_house < 11))

[False False False  True]

## if

La sentencia **if** nos permite ejecutar una o varias sentencias en caso de que la condición que le acompaña sea evaluada como **True**

In [1]:
#Nos creamos dos variables 
room = 'kit'
area = 14

#Veamos como actua el condicional if
if room == 'kit':
    print('kitchen')

if area > 18:
    print('big kitchen')

kitchen

En este caso como la condición que acompaña al primer **if** es evaluada como **True** la sentencia que se encuentra dentro del **if** es ejecutada. Sin embargo, la sentencia que acompaña al segundo **if** es evaluada como **False** por lo que la sentencia que se encuentra en el interior del segundo **if** no es ejecutada.

## Add else

La sentencia **if** puede ir acompañada de la sentencia **else** de forma que en caso de que la condición de la sentencia **if** sea evaluada como **False**, se evalue la condición que acompaña a la sentencia **else**, la sentencia **else** no va acompañada de condición.

In [2]:
#Nos creamos dos variables
room = 'bed'
area = 16

#Ejecutamos la sentencia if con el else
if room == 'kit':
    print('kitchen')
else:
    print('bedroom')
    
if area > 14:
    print('big bedroom')
else:
    print('small bedroom')

bedroom
big bedroom

## Customize further: elif

Finalmente la sentencia **if** también puede ir acompañada de la sentencia **elif**. A diferencia de la sentencia **else** esta sentencia si va acompañada de condición.

In [3]:
#Nos creamos dos variables
room = 'gar'

#Ejecutamos la sentencia if acompañada del elif y else
if room == 'gar':
    print('garden')
elif room == 'kit':
    print('kitchen')
else:
    print('bedroom')

garden

Si la condición que acompaña a la sentencia **if** es **True** y la condición que acompaña a la sentencia **elif** también es **True**, tan solo se ejecutará la sentencia que acompaña a la primera sentencia evaluada como **True**

In [4]:
room1 = 'bed'
room2 = 'kit'

if room1 == 'bed':
    print('bedroom')
elif room2 == 'kit':
    print('kitchen')
else:
    print('garden')

bedroom

Podemos poner tantas sentencias **elif** como queramos.

In [5]:
room = 'liv'

if room == 'kit':
    print('kitchen')
elif room == 'bed':
    print('bedroom')
elif room == 'liv':
    print('living room')
else:
    print('garden')

living room

## Filtering Pandas DataFrame

A continuación vamos a prodecer a explicar la forma de filtar nuestros Pandas DataFrame a partir de los operadores ya vistos. Para ello vamos hacer uso del conjunto de datos **cars.csv**.

In [7]:
#Procedemos a la carga de los datos
import pandas as pd
df_cars = pd.read_csv('cars.csv', index_col = 0)
#Vemos la cabecera de nuestros datos
df_cars.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True

## Driving right (I)

A continuación vamos a proceder a filtrar aquellos países en los cuales se conduce por la derecha

In [10]:
#En primer lugar seleccionarmos la columna por la cual queremos filtrar
df_dr = df_cars.loc[:, 'drives_right']
#Ahora procedemos a obtener el df filtrado
df_filter = df_cars[df_dr]
#Mostramos los resultados
print(df_filter)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

## Driving right (2)

Este filtrado se puede realizar en una sola línea

In [11]:
#Filtramos
df_filter = df_cars[df_cars.iloc[:,2]]
#Mostramos el resultado
print(df_filter)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

## Cars per capita (1)

Ahora vamos a proceder a detectar aquellos países en los que la variable **cars_per_cap** es superior a 100

In [12]:
#Filtramos
df_filter = df_cars[df_cars['cars_per_cap'] > 100]
#Mostramos resultados
print(df_filter)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
RU            200         Russia          True

## Cars per capita (II)

A la hora de hacer uso de los operadores lógicos vistos anteriormente para realizar filtraciones más complejas podemos hacer uso de los operadores lógicos proporcionados por el paquete **numpy**(np.logical_and, np.logical_or, np.logical_not).

In [15]:
#Vamos a proceder a filtrar aquellos países donde la variable cars_per_cap sea mayor a 100 pero menor a 500
import numpy as np
df_filter =df_cars[np.logical_and(df_cars.loc[:, 'cars_per_cap'] > 100, df_cars.iloc[:,0] < 500)]
#Mostramos el resultado
print(df_filter)

    cars_per_cap country  drives_right
RU           200  Russia          True