## Basic while loop

El bucle **while()** se trata de un bucle que ejecutará el códgio de su interior de forma repetida mientras que la condición que lo acompaña sea evaluada como **True**.

In [1]:
#Generamos la variables offset
offset = 8

#Generamos un bucle while
while offset != 0:
    print('correcting ...')
    offset -= 1
    print(offset)

correcting ...
7
correcting ...
6
correcting ...
5
correcting ...
4
correcting ...
3
correcting ...
2
correcting ...
1
correcting ...
0

## Add conditionals

En el bucle **while()** anterior en el caso de que offset fuese un número negativo, tendríamos un problema y es que estaríamos generando un bucle infinito, ya que la condción que evalue el bucle sería siempre evaluada como **True**. Para ello podemos hacer de las sentencias de control de flujo: **if**, **elif**, **else**.

In [2]:
#Creamos la variable offset
offset = -6

#Creamos el bucle while
while offset != 0:
    print('correcting ...')
    if offset > 0:
        offset -= 1
    else:
        offset += 1
    print(offset)

correcting ...
-5
correcting ...
-4
correcting ...
-3
correcting ...
-2
correcting ...
-1
correcting ...
0

## Loop over a list

El bucle **for** se trata de otra sentencia de iteración, esta nos permite iterar sobre cada uno de los elementos de diferentes tipos de estructuras de datos.

In [1]:
#Nos creamos la primera lista
areas = [11.25, 18.0, 20.0, 10.75, 9.50]

#Iteramos sobre cada uno de los elementos 
for area in areas:
    print(area)

11.25
18.0
20.0
10.75
9.5

## Indexes and values (I)

Si queremos acceder de forma simulatánea tanto al índice como al valor podemos hacer uso de la función **enumerate()**. Esta función nos retorna el índice y el valor para cada uno de los elementos de una lista.

In [8]:
#Iteramos sobre areas
for index,area in enumerate(areas):
    print('room' + str(index) + ' : ' + str(area) + 'm2')

room0 : 11.25m2
room1 : 18.0m2
room2 : 20.0m2
room3 : 10.75m2
room4 : 9.5m2

## Loop over list of lists

Ya vimos anteriormente que una lista puede contener a su vez a otra lista

In [9]:
#Nos creamos una lista de listas
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]

for room in house:
    print('The ' + str(room[0]) + ' : ' + str(room[1]) + 'm2')

The hallway : 11.25m2
The kitchen : 18.0m2
The living room : 20.0m2
The bedroom : 10.75m2
The bathroom : 9.5m2

## Loop over dictionary

Si queremos iterar un diccionario debemos de hacer uso del método **items()**. Este método retorna en forma de tupla las parejas clave-valor.

In [10]:
#Nos creamos un diccionario
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }

#Procedemos a iterar este diccionario
for key,value in europe.items():
    print('The capital of ' + str(key) + ' is ' + str(value))

The capital of france is paris
The capital of poland is warsaw
The capital of austria is vienna
The capital of italy is rome
The capital of spain is madrid
The capital of norway is oslo
The capital of germany is berlin

## Loop over Numpy array

Si estamos trabajando sobre un numpy array podemos iterar sobre cada uno de los elementos de forma sencilla

In [11]:
#Nos generamos un numpy array
import numpy as np
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])

#Iteramos sobre nuestra estructura de datos numpy array
for i in np_height:
    print(i)

1.73
1.68
1.71
1.89
1.79

Si estamos trabajando sobre numpy arrays de mas de una dimensión y queremos iterar sobre cada uno de los elementos debemos de hacer uso de la función **np.nditer()**.

In [13]:
#Nos generamos nuestra array bidimensional
np_height = np.array([1.73, 1.68, 1.71, 1.89, 1.79])
np_weight = np.array([65.4, 59.2, 63.6, 88.4, 68.7])
meas = np.array([np_height, np_weight])

#Iteramos sobre cada uno de los elementos
for i in np.nditer(meas):
    print(i)

1.73
1.68
1.71
1.89
1.79
65.4
59.2
63.6
88.4
68.7

## Loop over DataFrame (I)

A la hora de iterar sobre una estructura de tipo Pandas DataFrame, debemos de hacer uso del método **iterrows()**. Este método nos retorna el **label** y el **row** para cada fila.

In [27]:
#Procedemos a cargar los datos
import pandas as pd
df = pd.read_csv('cars.csv', index_col = 0)
#VIsualizamos las primeras observaciones para ver si la carga se realizó de forma correcta
df.head()

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True

In [15]:
#Procedemos a iterar sobre nuestro DataFrame
for lab,row in df.iterrows():
    print(lab)
    print(row)

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

## Loop over DataFrame (II)

Podemos ver que el método **iterrows()** lo que nos retorna es un panda series, y mostrar esto por pantalla no llega a ser del todo agradable para la vista, por suerte, podemos seleccionar de forma sencilla elementos de un objeto tipo pandas series.

In [17]:
#Mostramos para cada país la variable cars_per_cap
for lab, row in df.iterrows():
    print(str(lab) + ':' + str(row['cars_per_cap']))

US:809
AUS:731
JAP:588
IN:18
RU:200
MOR:70
EG:45

##  Add column (I)

Supongamos que ahora queremos agregar una nueva columna llamada **COUNTRY** que contenga el nombre del país en letras mayúsculas, para ello lo que debemos hacer es seleccionar cada row, de esa row seleccionar la columna **country** pasarlo a mayúscula y finalmente agregar esto a al nueva columna

In [22]:
#Generamos una nueva columna
for lab, row in df.iterrows():
    df.loc[lab, 'COUNTRY'] = row['country'].upper()

print(df)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

## Add column (II)

Sin embargo la forma anterior de generar la nueva columna no es eficiente. De la forma que hemos generado anteriormente la nueva columna en cada iteración estamos generando un panda series, cuando estamos ante un DataFrame pequeño esto no es problema, pero cuando estamos ante conjunto de datos de alta dimensionalidad esto puede llegar a ser un problema en el tiempo de computación. Para evitar esto, contamos con el método **apply()**.

In [26]:
#Nos generamos la nueva columna COUNTRY
df['COUNTRY'] = df.loc[:, 'country'].apply(str.upper)
print(df)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT